body {
    background-color: black;
}
h1{
    text-align: center;
    color: whitesmoke;
    background-color: rgba(0, 0, 139, 0.9);
}
.photo-album {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.photo-frame{
    height: 200px;
    width: 300px;
    border: 8px solid darkblue;
    border-radius: 5px;
    position: relative;
    margin: 8px;
    overflow: hidden;
}
.photo-frame  .photo img{
    width: 100%;
}
.photo-detail{
  position: absolute; 
  display: none;
  height: 200px;
  width: 300px;
  top: 0; 
}

.photo-frame:hover .photo-detail{
    display: block;
    color: whitesmoke;
    background-color: rgba(0, 0, 139, 0.4);
}

.photo-frame:hover .photo-detail h2{
    background-color: whitesmoke;
    text-align: center;
    color: black;
}
.photo-frame:hover .photo img{
    transform: scale(1.5);
    transition: transform 3s;
}